{% extends "base.html" %}
<!-- {% load static %} -->

{% block content %}
{% block score-table %}
<table>
    <tr>
      <th> Items </th>
      <th> Clicks </th>
      <th> Oks </th>
      <th> Errors </th>
    </tr>
    <tr>
        <td id="items"></td>
        <td id="clicks"></td>
        <td id="resultOk"></td>
        <td id="resultErr"></td> 
    </tr>
</table>

{% endblock score-table %}
  <!-- {% block score %}

  {% endblock score %} -->

    <div>
      <legend class="border-bottom mb-4">Прослушайте звуки</legend>
    </div>
    <div>
    <button class="btn btn-outline-info" id = 'play1'>Первый</button>
    <button class="btn btn-outline-info" id = 'play2'>Второй</button>
    </div>


    <!-- <div class="mb-4">
      <audio controls preload="auto" class = "sound1">
        <source type="audio/wav"> 
      </audio>
      <audio controls preload="auto" class = "sound2">
        <source type="audio/wav"> 
      </audio>
    </div> -->
    <div>
      <legend class="border-bottom mb-2">Какой звук громче?</legend>
      <button class="btn btn-outline-info" id = 'button1'>Первый</button>
      <button class="btn btn-outline-info" id = 'button2'>Второй</button>
      <!-- <button class="btn btn-outline-info" id = 'button3'>Одинаково</button>  -->
    </div>
    <div>
      <p class='result'></p>
      <p class='volume1'></p>
      <p class='src1'></p>
      <p class='volume2'></p>
      <p class='src2'></p>
    </div>

    {% csrf_token %}

    <section class="sound-clips">
    </section>

    <div id="message_2u">
      <!-- <button class="btn btn-outline-info" id='message'>Вывести результат</button> -->
      <div id="mess"></div>
    </div>
  
{% endblock content %}

{% block scripts %}
  <script> var static_url = "{% get_static_prefix %}" </script>
  <script type="text/javascript" src="{% static 'volumer/js/howler.js' %}"></script>
  <script type="text/javascript" src="{% static 'volumer/js/volumer.js' %}"></script>
  
{% endblock scripts %}

