{% extends "base.html" %}

{% block content %}
  <div class="content-section">
    <!-- <div>
      <legend class="border-bottom mb-4">ТРЕНАЖЕРЫ</legend>
    </div> -->
    <div class="main_block">О тренажерах</div>
    <div class="hide_block">
        <p>Тренажеры представленные на сайте способствуют 
        улучшению навыка воспринимать поступающую извне звуковую информацию, 
        а также извлекать из звукового хаоса современного мира нужное и полезное для себя. </p>
        <p>Ориентировано не только для музыкантов и звукорежиссеров, 
        но и расширяют представления людей, не связанных с работой со звуком, 
        о многообразии звуковых явлений, которые окружают нас постоянно.</p>
        <p>После некоторого периода практики, каждый заметит, что стал улавливать то, 
        на что раньше не обращал внимания, на то, что проходило мимо ушей, 
        не замечалось и не фиксировалось.</p>
    </div>
    <div class="main_block">Об авторе</div>
    <div class="hide_block"></div>
    <div class="main_block">свернуть</div>
    <hr>
    <hr>
    {% if user.is_authenticated %}
    {% else %}
    <h7 style="color:orangered">Для работы с тренажерами необходимо просто авторизоваться</h7>
    {% endif %}
    <h3>Тренажеры:</h3>
      <p class='text-muted'>Выберите тренажер: 
        <ul class="list-group">
          {% if user.is_authenticated %}
          <a class="list-group-item list-group-item-light" href="/repeater">Тренажер ЗВУКОВЫСОТНОСТЬ</a>
          {% else %}
          <a class="list-group-item list-group-item-light">Тренажер ЗВУКОВЫСОТНОСТЬ</a>
          {% endif %}
          <div class="main_block">о тренажере подробнее</div>
          <div class="hide_block">Развитие чувствительности к высоте звука. Слушайте, повторяйте, смотрите результат.</div>
          
          {% if user.is_authenticated %}
          <a class="list-group-item list-group-item-light" href="/volumer">Тренажер ГРОМКОСТЬ</a>
          {% else %}
          <a class="list-group-item list-group-item-light">Тренажер ГРОМКОСТЬ</a>
          {% endif %}
          <div class="main_block">о тренажере подробнее</div>
          <div class="hide_block">Развитие ощущения громкости звука. Слушайте, сравнивайте, выбирайте тот, который громче.</div>
          
          {% if user.is_authenticated %}
          <a class="list-group-item list-group-item-light" href="/wider">Тренажер СТЕРЕОБАЗА</a>
          {% else %}
          <a class="list-group-item list-group-item-light">Тренажер СТЕРЕОБАЗА</a>
          {% endif %}
          <div class="main_block">о тренажере подробнее</div>
          <div class="hide_block">Развитие восприятия ширины звуковой картины. Слушайте, сравнивайте, выбирайте тот, который левее.</div>
          
          {% if user.is_authenticated %}
          <a class="list-group-item list-group-item-light" href="/attenter">Тренажер ВНИМАНИЕ</a>
          {% else %}
          <a class="list-group-item list-group-item-light">Тренажер ВНИМАНИЕ</a>
          {% endif %}
          <div class="main_block">о тренажере подробнее</div>
          <div class="hide_block">Слушайте, как услышите лишний призвук - двойной клик, либо "Пробел" (на клавиатуре)</div>
          
          {% if user.is_authenticated %}
          <a class="list-group-item list-group-item-light" href="/mixer">Тренажер БАЛАНС</a>
          {% else %}
          <a class="list-group-item list-group-item-light">Тренажер БАЛАНС</a>
          {% endif %}

          <div class="main_block">о тренажере подробнее</div>
          <div class="hide_block">Настройте баланс по референсу и проверьте себя, насколько точно Вы смогли это сделать</div>
          
        </ul>
      </p>
    

  </div>

{% endblock content %}

{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
    $(document).ready(function () {
        
    $(".main_block").click(function () {
        // все закрываем
        // $(".hide_block").slideUp(200);
        // следующий открываем
        $(this).prevAll('.hide_block').slideUp(200);
        $(this).next('.hide_block').slideToggle(200);
        }); //click           
    }); // end ready
  </script>


{% endblock scripts %}

