{% extends "base.html" %}

{% block content %}
  <div class="content-section">
    <!-- <div>
      <legend class="border-bottom mb-4">ТРЕНАЖЕРЫ</legend>
    </div> -->
        <p>Упражнения и тренажеры представленные на сайте способствуют улучшению навыка воспринимать поступающую извне звуковую информацию, а также извлекать из звукового хаоса современного мира нужное и полезное для себя. 
        Ориентировано не только для музыкантов и звукорежиссеров, но и расширяют представления людей, не связанных с работой со звуком, о многообразии звуковых явлений, которые окружают нас постоянно.
        После некоторого периода практики, каждый заметит, что стал улавливать то, на что раньше не обращал внимания, на то, что проходило мимо ушей, не замечалось и не фиксировалось.
        </p>
    <h3>Тренажеры</h3>
      
      <p class='text-muted'>Выберите тренажер: 
        <ul class="list-group">
          <a class="list-group-item list-group-item-light" href="/repeater">Repeater</a>
          <a class="list-group-item list-group-item-light" href="/volumer">Volumer</a>
          <a class="list-group-item list-group-item-light" href="/wider">Wider</a>
          <a class="list-group-item list-group-item-light" href="/attenter">Attenter</a>
        </ul>
      </p>

  </div>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}

