/* html, body {
    margin: 0;
    padding: 0;
  } */
  
  /* body {
    font-family: "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #164a44;
    
    background-color: #b2d9d0;
  } */
  
  /* .container {
    display: flex;
    justify-content: center;
  } */
  
  /* .tasks__title {
    margin: 50px 0 20px 0;
    
    text-align: center;
    text-transform: uppercase;
  } */
  
  .tasks__list {
    margin: 0;
    padding: 0;
    
    list-style: none;
    position: relative;
    left: 0;
    top: 0;
  }
  
  .tasks__item {
    max-width: 200px;
    margin-bottom: 10px;
    padding: 5px;
    
    text-align: center;
    border: 2px dashed #b2d9d0;
    border-radius: 10px;
    cursor: move;
    background-color: #dff2ef;
  
    transition: background-color 0.5s;
  }
  
  .tasks__item:last-child {
    margin-bottom: 0;
  }
  
  .selected {
    opacity: 0.6;
  }

  .loaded {
    opacity: 0.3;
    position: relative;
  }
  .loaded::before {

    content: "loaded";
    color: rgb(91, 234, 14);


    position: absolute;
    top: 4;
    left: 25px;

  }

  .loaded::after {

    content: "loaded";
    color: rgb(91, 234, 14);


    position: absolute;
    top: 4;
    right: 25px;

  }


  .tasks{
    position: relative;
  }

  .slider-wrapper {
    position: absolute;
    top: 80px;
    right: 0;
    /* display: inline-block; */
    width: 20px;
    height: 150px;
    padding: 0;
  }



  .slider-wrapper input {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
  }

  .play {
    position: relative;
  }