{% extends "base.html" %}
<!-- {% load static %} -->

{% block content %}
  

    <div>
      <h3>Послушайте музыкальный трек</h3>
      <button id='start' type="button" class="btn btn-primary btn-lg">СТАРТ</button>
      <button id='restart' type="button" class="btn btn-primary btn-lg">РЕСТАРТ</button>
      <button id='stop' type="button" class="btn btn-primary btn-lg">СТОП</button>
    </div>  
    <p></p>

    <div>
      <p></p>
      <h3>Ошибки: </h3> 
      <p id ='mis'></p>
      <p></p>
      <h3>Ответы: </h3>
      <p id = 'check_'></p>
    </div>  

    {% csrf_token %}

 
{% endblock content %}

{% block scripts %}
  <script> var static_url = "{% get_static_prefix %}" </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pizzicato/0.6.4/Pizzicato.js"></script>
  <script type="text/javascript" src="{% static 'attenter/js/attenter.js' %}"></script>
  

  
{% endblock scripts %}

